<div class="row">
<div class="col-md-7 col-center">
<img class="placehold" src="//placehold.it/650x330/ec4550/FFFFFF">
</div>

<div class="col-md-5">
<h2>Elit elementum</h2>
<p>Metus nisi id risus duis platea diam aliquet ut maecenas feugiat litora, pellentesque volutpat phasellus quisque arcu inceptos nullam congue fringilla cursus mi, laoreet euismod sollicitudin enim cursus metus nulla ullamcorper ac sociosqu lacinia vel quis aptent pulvinar velit fusce aptent.</p>

<p>Interdum praesent purus fringilla vulputate arcu molestie conubia himenaeos justo interdum egestas augue rhoncus, torquent mi iaculis ligula eros accumsan donec odio elit hendrerit morbi aliquam malesuada dictum, odio convallis tortor nisl euismod taciti cursus aliquet elementum lorem per a felis quisque maecenas turpis molestie etiam semper cubilia.</p>
</div>
</div>