<div class="row">
	<div class="col-md-4  col-sm-4">
		<img class="placehold" src="//placehold.it/360x500/eea440/FFFFFF">
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-4">
				<img class="placehold" src="//placehold.it/100/eea440/FFFFFF">
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4">
				<img class="placehold" src="//placehold.it/100/eea440/FFFFFF">
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4">
				<img class="placehold" src="//placehold.it/100/eea440/FFFFFF">
			</div>
		</div>
	</div>
</div>
