
$rounded : 15px;


.box {
	padding: 1em;
	
	&.square {
	   border-radius: 0;
	}
	&.circle {
	   border-radius: 50%;
       padding: 4em;
	}
	&.rounded {
	   border-radius: $rounded;
	}
	&.edged {
	   border-radius: 5px;
	}
	
	&.rounded-top-left {
       border-top-left-radius: $rounded;
	}
	&.rounded-top-right {
        border-top-right-radius: $rounded;
	}
	&.rounded-bottom-right {
        border-bottom-right-radius: $rounded;
	}
	&.rounded-bottom-left {
        border-bottom-left-radius: $rounded;
	}
	&.pointer {
		position: relative;
	
		&:after {
		    content: "";
		    position: absolute;
		    bottom: -15px;
		    left: 50px;
		    border-width: 15px 15px 0;
		    border-style: solid;
		    border-color: #f3961c transparent;
		    display: block;
		    width: 0;
		}
		&.pointer-left:after {
		    top: calc(50% - 16px);
		    left: -20px;
		    bottom: auto;
		    border-width: 12px 20px 13px 0px;
		    border-color: transparent #f3961c;
		}
		&.pointer-right:after {
		    top: calc(50% - 16px);
		    right: -20px;
		    bottom: auto;
		    left: auto;
		    border-width: 12px 0 13px 20px;
		    border-color: transparent #f3961c;
		}
		&.pointer-bottom:after {
		    left: calc(50% - 16px);
		}
		&.pointer-top:after {
			top: -15px;
			bottom: auto;
		    border-width: 0 15px 15px;
			left: calc(50% - 16px);
		}
		
	}
	
	&.shadow-bottom-right {
		box-shadow: 3px 3px 0px 0 grey;
	}
	&.shadow-bottom-left {
		box-shadow: -3px 3px 0px 0 grey;
	}
	
	&.border-thin {
		border: 1px solid;
	}
	&.border-normal {
		border: 2px solid;
	}
	&.border-thick {
        border: 4px solid;
	}

	&.border-dashed {
		border: 2px dashed;
	}
	&.border-dashed-thick {
		border: 4px dashed;
	}
	
	&.border-double {
		border: 2px solid;
        box-shadow: 0px 0px 0px 2px white inset, 0px 0px 0px 4px black inset;
	}
	&.border-double-thick {
		border: 4px solid;
        box-shadow: 0px 0px 0px 5px white inset, 0px 0px 0px 7px black inset;
	}
	
}