.button {
	cursor: pointer;
	
	&.mod-pavilion {
		border-radius: 3px;
	    font-size: 12px;
	    padding: 7px 15px;
		background-color: #ef7928;
		color: white;
		text-transform: uppercase;
		
		&.primary:hover {
			background-color: #25374a;
		}
		
		.secondary {
			border-radius: 0px;
			background-color: #738599;
		}
		
		.secondary:hover {
			background-color: #25374a;
		}
	}
	
	&.mod-wedge {
	    border: none;
	    border-radius: 2px;
	    padding: 8px 45px;
	    text-transform: none;
		background-color: #25374a;
		color : white;
	}
	
	&.mod-wedge:hover {
		background-color: #ef7928;
	}
	
	&.mod-diced {
	    border: 1px solid black;
	    border-radius: 2px;
	    text-transform: uppercase;
	    background-color: transparent;
	    color: black;
	    padding: 7px 25px;
	}
	
	.mod-diced:hover {
		background-color : black;
		border-color: white;
		color: white;
		border-radius: 2px;
	}
	
	.mod-evolv {
	    border: 1px solid #f5d76e;
	    text-decoration: none;
	    border-radius: 24px;
	    transition: all 0.5s;
		padding: 14px 24px;
		background-color: #f5d76e;
		color: #333;
	}
	
	.mod-evolv:hover {
	    background-color: transparent;
	}
	
	.mod-linx {
	    border: 0 none;
	    letter-spacing: 1px;
	    padding: 14px 24px;
	    border-radius: 6px;
		box-shadow: 0 3px 0 0 #204265;
		background-color: #738599;
		color: white;
		text-transform: uppercase;
	}
	
	.mod-linx:hover {
		background: #204265;
	}
	
	.mod-evolv:hover {
	    background-color: transparent;
	}
	
	.mod-monument {
	    border: 2px solid #585e6b;
	    border-radius: 0;
	    color: #333 !important;
	    background: #fff;
	    background: linear-gradient(to bottom, #fff 0%, #585e6b 100%);
		padding: 10px 40px;
	}
	
	.mod-monument:hover {
	    color: #333 !important;
		background: linear-gradient(to bottom, #585e6b 0%, #fff 100%);
	}
	
	.mod-haven {
	    border: 2px solid #585e6b;
	    border-radius: 0;
	    background: #fff;
	    border: 1px solid #333;
	    color: #333;;
	    padding: 8px 35px;
	    text-transform: uppercase;
	}
	
	.mod-haven:hover {
	    color: #333 !important;
		background-color: #738599;
	}
}
