.editor-panel {
	input.color-control {
		display: none;
	}
	
	label.color-preview {
    	width: 28px;
	    height: 28px;
	    border-radius: 7px;
	    border: 1px solid #d2d2d2;
	    cursor: pointer;
	    background-color: #333;
	    display: inline-block;
	    
	   	&:before {
		    content: "\f1fc";
		    font: normal normal normal 14px/1 FontAwesome;
		    position: absolute;
		    top: -28px;
		    font-size: 16px;
		    right: 4px;
	    }
	}
}

.color-panel {

	display: none;
	width: 230px;
	height: auto !important;

	.panel-title {
    	padding: 15px;
	}
	
	h4 {
		margin: 10px 0;
    	font-weight: normal;
	}
	
	.color-control {
		padding: 0 15px 15px;
	}
				
	.colors {
        margin-bottom: 0px;
    	margin: 0 auto;
	
		li {
		    height: 25px;
		    width: 25px;
		    display: inline-block;
		    border: 2px solid #E1E1E1;
		    border-radius: 50%;
		    margin: 3px;
		    cursor: pointer;
		    padding: 0px;
		    
		    &:hover {
		      border-color: $hover-color;
		    }
		}
		li.selected {
	       border-color: $hover-color;
		}
		
		.custom-color {
			background-color: white;
    		text-align: center;
			border-color: $hover-color;
    		
    		i {
    			color: $hover-color;
    			font-size: 15px;
    			line-height: 25px;
    			padding-left: 1px;
    		}
    		
    		&.selected,
    		&:hover {
    			background-color: $hover-color;
    			border-color: $hover-color;
    			
    			i {
    				color: white;
    			}
    		}
		}
		
	}
	
	.color-picker-wrap {
		position: relative;
	
		.iris-picker {
			margin: 15px auto 0;
		}
		input {
			display: none;
		}
		
		.links {
			width: 200px;
			margin: 3px auto 20px;
			display: none;

			a {
	    		text-decoration: none;
				&.cancel {
		    		color: #a00;
					float: right;
				}
	    		&:hover {
		    		text-decoration: underline;
	    		}
			}
		}
	}
		
	&[current-selection="custom"] .links {
		display: block;
	}
}