/***
* In Page styles while in the editor
***/

#tinymce {
	.bg-control-element {
		outline: 2px dashed #f95b26 !important;
	} 
}

.section .selectize-dropdown-content {
    height: 30px;
}

.ui-widget-content .ui-state-default.ui-selectmenu-button {
    padding: 6px 11px 8px;
    position: absolute;
    left: 38px;
    width: 150px !important;
    height: 20px;
    border-radius: 7px;
    background-image: url(../image/web-fonts.png);
    background-color: white;
    color: transparent;
    margin-left: -24px;
    cursor: pointer;
    border: none;
    
    .ui-icon {
	    position: absolute;
	    right: -20px;
	    top: 8px;
    }
    
    .ui-selectmenu-text {
    	display: none;
    }
    
    &:hover {
	    background-color: #eaeaea;	
    }
}

.wp-admin .ui-selectmenu-menu {
	display: none;
	
	ul {
	    z-index: 100000;
	    position: relative;
	    max-height: 500px;
	    overflow-y: scroll;
	    overflow-x: hidden;
	    width: 290px;
	}
	
	li,
	li:hover {
		color: transparent;
		background-image: url(../image/web-fonts.png);
		height: 25px;
		margin: 4px 0px;
		border: none;
		padding: 3px;
		background-color: transparent;
		cursor: default !important;
	}
	
	li:hover {
		background-color: #eaeaea;
	}
	
	.seperator,
	.seperator:hover {
	    font-weight: lighter;
		padding: 7px 11px;
		background-color: #32373c;
		color: white;
		margin-top: -2px;
	    margin-left: -2px;
	    margin-bottom: 5px;
   		font-size: 15px;
    	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	}
}

.wp-admin .ui-selectmenu-open {
	display: block;
}

.bg-drag-popover:hover { 
	display: block !important;
}