.editor-panel .boldgrid-image,
#tinymce .boldgrid-image,
#page .boldgrid-image {
    border: none;
    box-shadow: none;
}

.editor-panel,
#tinymce,
#page {
    .img-mod-1 {
        border: 3px solid #fff; 
        padding: 0;
        box-shadow: 0px 5px 5px 0px rgba(85,85,85,1); 
    }
    
    .img-mod-2 {
        border-radius: 50%;
    }
    
    .img-mod-3 {
        border-radius: 50%;
        border: 0.25em solid black;
    }
    
    .img-mod-4 {
        border-radius: 10px;
    }
    .img-mod-5 {
        border-radius: 35px;
    }
    
    .img-mod-6 {
        border-radius: 50%;
        border: 8px solid white;
        box-shadow: 0px 0px 3px 0px rgba(85,85,85,1);
    }
    
    .img-mod-7 {
        box-shadow: .3em .3em 0 0 #8e8e8e;
    }
    
    .img-mod-8 {
        border: 8px solid white;
        box-shadow: 0px 0px 0px 5px rgba(85,85,85,1);
    }
    
    .img-mod-9 {
        border: .5em solid white;
        border-bottom-width: 2em;
        box-shadow: 0px 0.2em .2em 0px #555555;
    }
}