/************** Instance Menu *******************/
.mce-container .boldgrid-instance-menu {
	padding: 0;
	display: none;
    height: 0px;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    
	ul {
	    text-align: center;
	    display: inline-block;
	    padding: 6px 15px 8px; 
	    background-color: $menu-color;
	    border-radius: 0px 0px 8px 8px;
	    box-shadow: 0px 5px 16px -4px;
	    cursor: move;
	    width: auto !important;
	}
	li {
		display: inline-block;
		padding: 3px;
		border-radius: 50%;
		margin: 0 8px;
		cursor: pointer;
		background-color: white;
		transition: box-shadow .3s;
	}
	li.active,
	li:hover {
	    box-shadow: 0px 0px 5px 1px #969696 inset;
        span {
            color: #f95b26;
	   }
    }
	li span {
		font-size: 23px;
		transition: color .3s;
		padding: 2px;
	}
	
	li .fa-info {
        padding: 2px 9.5px;
	}
	
	li .fa-text-width {
        padding: 3.5px 5px;
        font-size: 20px;
	}
	
	li .fa-cog {
        padding: 2px 3.75px;
	}
}

/************** TinyMCE Menu *******************/

.imhwpb-icon:before { 	
	-webkit-font-smoothing: antialiased;
	font: normal 20px/1 'dashicons';
	vertical-align: top; 
}

.mce-viewsize-tablet-imhwpb {
	width:845px;
}

.mce-viewsize-monitor-imhwpb {
	min-width:1065px;
	z-index: 10;
}

.mce-viewsize-phone-imhwpb {
	width:480px;
}

#resizer-iframe {
	position: absolute;
	left: -9999px;
	top:-9999px;
}

.boldgrid-highlighted-mce-icon:not(.mce-active) .imhwpb-icon {
	color: #00a0d2;
}
