/************** Instance Menu *******************/
.mce-container .boldgrid-instance-menu {
	padding: 0;
	display: block;
    height: 0px;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    
	ul {
	    text-align: center;
	    display: inline-block;
	    padding: 6px 22px 8px; 
	    background-color: $menu-color;
	    border-radius: 0px 0px 8px 8px;
	    box-shadow: 0px 5px 16px -4px;
	    cursor: move;
	    width: auto !important;
	}
	li {
		display: inline-block;
		padding: 3px;
		border-radius: 50%;
		box-shadow: 0px 1px 13px -2px black;
		margin: 0 8px;
		cursor: pointer;
		background-color: white;
	}
	li.active span,
	li:hover span {
		color: #f95b26;
	}  
	li span {
		font-size: 28px;
		transition: color .3s;
	}
	
	li .fa-info {
		padding: 0 9px;
	}
	
	li .fa-text-width {
	    padding: 1px 3px;
	    font-size: 26px;
	}
}

/************** TinyMCE Menu *******************/

.imhwpb-icon:before { 	
	-webkit-font-smoothing: antialiased;
	font: normal 20px/1 'dashicons';
	vertical-align: top; 
}

.mce-viewsize-tablet-imhwpb {
	width:845px;
}

.mce-viewsize-monitor-imhwpb {
	min-width:1065px;
	z-index: 10;
}

.mce-viewsize-phone-imhwpb {
	width:480px;
}

#resizer-iframe {
	position: absolute;
	left: -9999px;
	top:-9999px;
}

.boldgrid-highlighted-mce-icon:not(.mce-active) .imhwpb-icon {
	color: #00a0d2;
}
