.editor-panel {
	display: none;
	position: fixed;
    top: 300px;
    left: 200px;
    z-index: 9999;
	width: 310px;
    border: 1px solid #eee;
    background-color: white;
    border-radius: 10px;
	box-shadow: 0 0 18px 0 rgba(22, 45, 61, 0.27);
	
	.panel-title {
	    cursor: move;
		background-color: #1e8cbe;
		color: white;
		padding: 15px 10px;
		font-weight: 300;
		margin: 0;
		font-size: 14px;
	}
    
    .panel-title .close-icon {
	    position: absolute;
	    right: 13px;
	    border-radius: 50%;
	    background-color: white;
	    color: #1e8cbe;
	    padding: 1px;
	    top: 14px;
	    cursor: pointer;
	}
	
	.panel-title .close-icon:hover {
	    background-color: #0073aa;
		color: white;
	}
	
	.panel-title {
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
	
	.panel-selection {
	    width: 70px;
	    height: 70px;
	    margin: 3px;
	    display: inline-block;
	    text-align: center;
	    border-radius: 5px;
	    cursor: pointer;
	    background-color: #dce3e8;
	    transition: background-color .3s;
		white-space: nowrap;
	    text-overflow: ellipsis;
	    padding: 0px 9px;
	    overflow: hidden;
	}
	
	.panel-selection:hover {
	    background-color: white;
	}
	
	.panel-selection.selected {
	    background-color: #1e8cbe;
	    color: white;
	}
}

/*************** Panel Body ********************/

.panel-body {
	overflow-y: scroll;
	max-height: 330px;
	padding: 10px;
	background-color: white;
}
.panel-body ul {
	text-align: center;
	margin-top: 0;
}
/*************** Change Icon Panel ********************/
.editor-panel[data-type="icon"] {
	width: 335px;

	.panel-selection {
	    width: 123px;
	    height: 42px;
	    text-align: left;
    }
    
    .panel-body .fa {
		font-size: 26px;
	    position: relative;
	    top: 50%;
	    transform: translateY(-50%);
	    color: #525252;
	}
	.panel-selection .name {
	    margin-left: 6px;
	    vertical-align: middle;
	}
	
	.panel-selection.selected .fa {
	    color: white;
	}
}
/*************** Change Icon Panel ********************/
.editor-panel[data-type="image"] {
	width: 400px;

	.panel-selection {
		background: none;
	    width: 110px;
	    height: auto;
	    padding: 0;
	    
	    &:hover {
	    	color : #1e8cbe;
	    	
		    img {
		    	border-color: #1e8cbe;
		    }
	    }
    }
	.panel-selection canvas,
	.panel-selection img {
	    width: 100%;
	    height: auto;
	    max-height: 100px;
	    max-width: 100px;
	    border-radius: 7px;
	    border: 2px solid transparent;
    }
	.panel-selection.selected {
	   color: #1e8cbe;
    }
	.panel-selection.selected canvas,
	.panel-selection.selected img {
	   border-color: #1e8cbe;
    }
}