@import 'variables';
@import './front-end/edit-link';

.boldgrid-editor-template,
.gridblock-template-default,
.page-template-templatepagefullwidth-php.page-template-fullwidth, /*,
.page-template-templatepageleft-sidebar-php.page-template-left-sidebar,
.page-template-templatepageright-sidebar-php.page-template-right-sidebar */{
	#content.site-content {
		margin-top: 0;
		margin-bottom: 0;
		padding: 0;
	}
	.site-footer {
		margin-top: 0;
	}

	header:not(.entry-header) {
		margin-bottom: 0;
	}
	.sidebar-main {
		padding: 0;
	}
}
