.gridblock-template-default.single-gridblock article,
.bg-custom-template article,
.page-template-templatepagefullwidth-php.page-template-fullwidth article,
.page-template-templatepageleft-sidebar-php.page-template-left-sidebar article,
.page-template-templatepageright-sidebar-php.page-template-right-sidebar article {
  position: relative; }

.bg-edit-link {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 20px; }

.bg-edit-link a:active .fa {
  background-color: #f8480d; }

.bg-edit-link .fa {
  background-color: #f95b26;
  border-radius: 50%;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.38);
  font-size: 15px;
  padding: 9px;
  color: #fff;
  transition: box-shadow .5s, background-color .5s; }

.bg-edit-link .fa:hover {
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5); }

.boldgrid-editor-template,
.gridblock-template-default,
.page-template-templatepagefullwidth-php.page-template-fullwidth {
  /*
	#page.site {
		padding: 0;
	}
*/ }

.boldgrid-editor-template #content.site-content,
.gridblock-template-default #content.site-content,
.page-template-templatepagefullwidth-php.page-template-fullwidth #content.site-content {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0; }

.boldgrid-editor-template .site-footer,
.gridblock-template-default .site-footer,
.page-template-templatepagefullwidth-php.page-template-fullwidth .site-footer {
  margin-top: 0; }

.boldgrid-editor-template .entry-header .entry-title,
.gridblock-template-default .entry-header .entry-title,
.page-template-templatepagefullwidth-php.page-template-fullwidth .entry-header .entry-title {
  padding: 10px 0; }

.boldgrid-editor-template header:not(.entry-header),
.gridblock-template-default header:not(.entry-header),
.page-template-templatepagefullwidth-php.page-template-fullwidth header:not(.entry-header) {
  margin-bottom: 0; }

/** common class resets **/
.page-template.boldgrid-editor-template #site-content.container {
  width: 100%;
  padding: 0; }

.page-template.boldgrid-editor-template .entry-header {
  padding-bottom: 20px;
  padding-top: 20px;
  margin-top: 0;
  margin-bottom: 0; }

.page-template.boldgrid-editor-template .entry-header .entry-title {
  margin: 0; }

.page-template.boldgrid-editor-template .entry-content,
.page-template.boldgrid-editor-template .entry-content .the-content {
  width: 100%;
  max-width: 100%;
  padding: 0; }

.page-template.boldgrid-editor-template .bg-page-article {
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0; }

.bg-custom-template {
  padding: 0; }

.bg-custom-template .bge-content-main {
  padding: 0; }

.bg-custom-template .bge-sidebar {
  padding: 20px; }

.bg-custom-template.sidebar-left {
  flex-direction: row-reverse; }

@media only screen and (min-width: 992px) {
  .bg-custom-template.sidebar-right,
  .bg-custom-template.sidebar-left {
    display: flex; }
  .bg-custom-template.sidebar-right .bge-content-main,
  .bg-custom-template.sidebar-left .bge-content-main {
    width: 75%; }
  .bg-custom-template.sidebar-right .bge-sidebar,
  .bg-custom-template.sidebar-left .bge-sidebar {
    width: 25%; } }
