.page-template-templatepagefullwidth-php.page-template-fullwidth #content.site-content {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0; }

.page-template-templatepagefullwidth-php.page-template-fullwidth .site-footer {
  margin-top: 0; }

.page-template-templatepagefullwidth-php.page-template-fullwidth header {
  margin-bottom: 0; }
