/*--------------------------------------------------------------
# Panel Styles
--------------------------------------------------------------*/
.editor-panel {
  display: none;
  position: fixed;
  top: 300px;
  left: 200px;
  z-index: 999999;
  width: 310px;
  border: none;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 18px 0 rgba(22, 45, 61, 0.27); }

.editor-panel .panel-title {
  cursor: move;
  background-color: #32373c;
  color: white;
  padding: 15px 22px;
  font-weight: 300;
  margin: 0;
  font-size: 16px; }

.editor-panel .panel-title .close-icon {
  position: absolute;
  right: 25px;
  border-radius: 50%;
  background-color: white;
  color: #32373c;
  padding: 1px;
  top: 14px;
  cursor: pointer;
  transition: box-shadow .3s; }

.editor-panel .panel-title .close-icon:hover {
  box-shadow: 0px 0px 5px 1px #969696 inset;
  color: #f95b26; }

.editor-panel .panel-title {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 10px; }

.editor-panel .panel-selection {
  width: 70px;
  height: 70px;
  margin: 3px;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  background-color: #dce3e8;
  transition: background-color .3s;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0px 9px;
  overflow: hidden; }

.editor-panel .panel-selection:hover {
  background-color: white; }

.editor-panel .panel-selection.selected {
  background-color: #f95b26;
  color: white; }

/*************** Panel Body ********************/
.panel-body {
  overflow-y: scroll;
  padding: 0 10px;
  background-color: white; }

.panel-body ul {
  text-align: center;
  margin-top: 0; }

/*************** Icon Panel ********************/
.editor-panel[data-type="icon"] {
  width: 335px; }

.editor-panel[data-type="icon"] .panel-selection {
  width: 123px;
  height: 42px;
  text-align: left; }

.editor-panel[data-type="icon"] .panel-body .fa {
  font-size: 26px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: #525252; }

.editor-panel[data-type="icon"] .panel-selection .name {
  margin-left: 6px;
  vertical-align: middle; }

.editor-panel[data-type="icon"] .panel-selection.selected .fa {
  color: white; }

/*************** Background Panel ********************/
.editor-panel[data-type="box"] .box {
  width: 50px;
  height: 50px;
  margin: 11px;
  padding: 0;
  cursor: pointer; }

.editor-panel[data-type="box"] .box.box-long {
  height: 122px; }

.editor-panel[data-type="box"] .box.box-wide {
  width: 122px; }

.editor-panel[data-type="box"] .panel-body,
.editor-panel[data-type="box"] .box-design {
  height: 100%;
  width: 100%; }

.editor-panel[data-type="box"] .title {
  padding-bottom: 0;
  border-bottom: 1px solid #32373c;
  font-size: 15px;
  margin: 0 15px 17px; }

.editor-panel[data-type="box"] .title h4 {
  margin-top: 10px; }

.editor-panel[data-type="box"] .presets .selected:after {
  content: "\f058";
  font: normal normal normal 14px/1 FontAwesome;
  width: 22px;
  position: absolute;
  top: -9px;
  right: -9px;
  color: #f95b26;
  background-color: white;
  border-radius: 50%;
  background-size: 22px 27px;
  height: 21px;
  text-align: center;
  font-size: 20px; }

/*************** Background Panel ********************/
.editor-panel[data-type="background"] img {
  max-width: 100%; }

.editor-panel[data-type="background"] .panel-title {
  margin-bottom: 0px; }

.editor-panel[data-type="background"] .panel-body {
  padding: 0;
  overflow: hidden;
  border-radius: 0 0 10px 10px; }

.editor-panel[data-type="background"] .current-selection {
  position: relative;
  height: 180px;
  background-size: cover;
  background-position: 50%; }

.editor-panel[data-type="background"] .current-selection[data-type="pattern"] {
  background-size: initial;
  background-repeat: repeat; }

.editor-panel[data-type="background"] .filters {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0; }

.editor-panel[data-type="background"] .filter {
  background-color: white;
  text-decoration: none;
  padding: 7px 15px;
  border-radius: 15px;
  margin: 0 4px;
  transition: background-color .25s, color .25s; }

.editor-panel[data-type="background"] .filter:focus {
  box-shadow: none; }

.editor-panel[data-type="background"] .filter:hover {
  background-color: #fb9370;
  color: white; }

.editor-panel[data-type="background"] .filter.selected {
  background-color: #f95b26;
  color: white; }

.editor-panel[data-type="background"] .filter:active {
  box-shadow: 0px 0px 8px black inset; }

.editor-panel[data-type="background"] .current-selection img,
.editor-panel[data-type="background"] .presets img {
  position: relative; }

.editor-panel[data-type="background"] .presets {
  padding: 0 20px; }

.editor-panel[data-type="background"] .presets ul > li {
  margin: 15px 0;
  height: 53px;
  border: 1px solid #bdbcbc;
  cursor: pointer; }

.editor-panel[data-type="background"] .presets [data-type="image"] {
  background-size: cover;
  background-position: 50%; }

.editor-panel[data-type="background"] .presets .title {
  padding-bottom: 0;
  border-bottom: 1px solid #32373c;
  margin-bottom: 17px;
  font-size: 15px; }

.editor-panel[data-type="background"] .presets h4 {
  font-weight: normal;
  margin: 13px 0 6px; }

.editor-panel[data-type="background"] .selection {
  position: relative; }

.editor-panel[data-type="background"] .presets .selected:after {
  content: "\f058";
  font: normal normal normal 14px/1 FontAwesome;
  width: 22px;
  position: absolute;
  top: -9px;
  right: -9px;
  color: #f95b26;
  background-color: white;
  border-radius: 50%;
  background-size: 22px 27px;
  height: 21px;
  text-align: center;
  font-size: 20px; }

/*************** Change Image Border Panel ********************/
.editor-panel[data-type="image"] .panel-selection {
  width: 147px;
  height: auto;
  background-color: white;
  padding: 9px 0px;
  margin: 0; }

.editor-panel[data-type="image"] img {
  max-width: 100px;
  max-height: 100px; }

/*************** Button Panel ********************/
.editor-panel[data-type="button"] .panel-selection {
  width: 125px;
  height: auto;
  background-color: white;
  padding: 13px; }

.editor-panel[data-type="button"] .boldgrid-button {
  text-transform: uppercase; }

/*************** Text Settings Panel ********************/
.editor-panel[data-type="font"] .panel-title {
  margin-bottom: 0px; }

.editor-panel[data-type="font"] .panel-body {
  padding: 0; }

.editor-panel[data-type="font"] .section {
  border-bottom: 1px solid #dadada;
  padding: 18px 21px; }

.editor-panel[data-type="font"] .section:last-of-type {
  border-color: transparent; }

.editor-panel[data-type="font"] .ui-slider-horizontal {
  float: none;
  margin-left: 4px;
  width: 165px;
  margin-bottom: 8px; }

.editor-panel[data-type="font"] .value {
  font-size: 20px;
  position: relative;
  top: -14px;
  left: 5px; }

.editor-panel[data-type="font"] h4 {
  font-size: 15px;
  margin-bottom: 18px;
  margin-top: 0; }

.editor-panel[data-type="font"] select {
  width: 100%; }

.editor-panel[data-type="font"] .spacing p {
  margin-bottom: 4px; }

.editor-panel[data-type="font"] .section.effects .panel-selection {
  height: 35px;
  width: 35px;
  padding: 8px;
  color: #868686;
  font-size: 37px;
  line-height: 33px;
  margin: 1px; }

.editor-panel[data-type="font"] .section.effects .panel-selection.selected {
  color: white; }

.editor-panel[data-type="font"] .section.effects .fa-ban {
  color: #b50000; }

.editor-panel[data-type="font"] .section.effects .panel-selection.selected .fa-ban {
  color: white; }

/*************** Image Panel ********************/
.editor-panel[data-type="image-filter"] {
  width: 400px; }

.editor-panel[data-type="image-filter"] .panel-selection {
  background: none;
  width: auto;
  height: auto;
  padding: 0; }

.editor-panel[data-type="image-filter"] .panel-selection:hover {
  color: #32373c; }

.editor-panel[data-type="image-filter"] .panel-selection:hover canvas,
.editor-panel[data-type="image-filter"] .panel-selection:hover img {
  border-color: #32373c; }

.editor-panel[data-type="image-filter"] .panel-selection canvas,
.editor-panel[data-type="image-filter"] .panel-selection img {
  width: 100%;
  height: auto;
  max-height: 100px;
  max-width: 100px;
  border-radius: 7px;
  border: 2px solid transparent; }

.editor-panel[data-type="image-filter"] .panel-selection.selected {
  color: #f95b26; }

.editor-panel[data-type="image-filter"] .panel-selection.selected canvas,
.editor-panel[data-type="image-filter"] .panel-selection.selected img {
  border-color: #f95b26; }

.editor-panel[data-type="image-filter"] .customize {
  display: none; }

.editor-panel[data-type="image-filter"] .customizing .customize {
  display: block; }

.editor-panel[data-type="image-filter"] .customizing .presets {
  display: none; }

.editor-panel[data-type="image-filter"] .panel-body {
  position: relative; }

.editor-panel[data-type="image-filter"] .panel-body .preview {
  text-align: center;
  margin-top: 4px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.editor-panel[data-type="image-filter"] .panel-body .preview img,
.editor-panel[data-type="image-filter"] .panel-body .preview canvas {
  max-width: 85%;
  text-align: center;
  border-radius: 5px; }

.editor-panel[data-type="image-filter"] .panel-body .preview .button {
  display: table;
  margin: 15px auto; }

.editor-panel[data-type="image-filter"] .panel-body .preview .loading {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center; }

.editor-panel[data-type="image-filter"] .panel-body .preview .spinner {
  position: relative;
  margin-top: 50%;
  transform: translateY(-50%);
  float: none; }

.editor-panel[data-type="image-filter"].rendering .panel-body .preview .loading {
  display: block; }

.editor-panel[data-type="image-filter"] .panel-body .choices,
.editor-panel[data-type="image-filter"] .panel-body .preview {
  display: inline-block;
  text-align: center; }

.editor-panel[data-type="image-filter"] .panel-body .choices {
  width: 50%;
  margin-left: 20px; }

.editor-panel[data-type="image-filter"] .panel-body .preview {
  width: calc( 50% - 20px); }

.editor-panel[data-type="image-filter"] .panel-body .choices {
  border-radius: 12px;
  padding-bottom: 11px;
  background-color: #f1f1f1;
  box-shadow: 0px 0px 4px 0px #b5b5b5;
  margin-bottom: 8px;
  margin-top: 3px; }

.editor-panel[data-type="image-filter"] .panel-body ul {
  overflow-y: scroll;
  height: 400px;
  margin: 10px; }

.editor-panel[data-type="image-filter"] .panel-body {
  overflow: hidden; }

.editor-panel .control {
  display: block;
  height: 36px;
  width: 216px;
  width: 50%;
  float: left; }

.editor-panel .control .name {
  position: relative;
  top: 4px;
  float: left; }

.editor-panel .ui-slider-horizontal {
  height: 3px;
  border-radius: 0;
  width: 75px;
  border-color: #cecece;
  margin: 16px;
  margin-top: 10px;
  display: inline-block;
  float: right;
  cursor: pointer; }

.editor-panel .ui-slider-horizontal .ui-slider-handle {
  left: 0%;
  margin-top: -5px;
  border: 3px;
  height: 1em;
  width: 1em;
  border-radius: 0px;
  background: #f95b26;
  top: -1px;
  cursor: pointer;
  border-radius: 50%; }

/*--------------------------------------------------------------
# Menu Styles
--------------------------------------------------------------*/
/************** Instance Menu *******************/
.mce-container .boldgrid-instance-menu {
  padding: 0;
  display: none;
  height: 0px;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center; }

.mce-container .boldgrid-instance-menu ul {
  text-align: center;
  display: inline-block;
  padding: 6px 15px 8px;
  background-color: #32373c;
  border-radius: 0px 0px 8px 8px;
  box-shadow: 0px 5px 16px -4px;
  cursor: move;
  width: auto !important; }

.mce-container .boldgrid-instance-menu li {
  display: inline-block;
  padding: 3px;
  border-radius: 50%;
  margin: 0 8px;
  cursor: pointer;
  background-color: white;
  transition: box-shadow .3s; }

.mce-container .boldgrid-instance-menu li.active,
.mce-container .boldgrid-instance-menu li:hover {
  box-shadow: 0px 0px 5px 1px #969696 inset; }

.mce-container .boldgrid-instance-menu li.active span,
.mce-container .boldgrid-instance-menu li:hover span {
  color: #f95b26; }

.mce-container .boldgrid-instance-menu li span {
  font-size: 23px;
  transition: color .3s;
  padding: 2px; }

.mce-container .boldgrid-instance-menu li .fa-info {
  padding: 2px 9.5px; }

.mce-container .boldgrid-instance-menu li .fa-text-width {
  padding: 3.5px 5px;
  font-size: 20px; }

.mce-container .boldgrid-instance-menu li .fa-cog {
  padding: 2px 3.75px; }

.mce-container .boldgrid-instance-menu li .fa-columns {
  padding: 2px 3px; }

/************** TinyMCE Menu *******************/
.imhwpb-icon:before {
  -webkit-font-smoothing: antialiased;
  font: normal 20px/1 'dashicons';
  vertical-align: top; }

.mce-viewsize-tablet-imhwpb {
  width: 845px; }

.mce-viewsize-monitor-imhwpb {
  min-width: 1065px;
  z-index: 10; }

.mce-viewsize-phone-imhwpb {
  width: 480px; }

#resizer-iframe {
  position: absolute;
  left: -9999px;
  top: -9999px; }

.boldgrid-highlighted-mce-icon:not(.mce-active) .imhwpb-icon {
  color: #00a0d2; }

/*--------------------------------------------------------------
# Page Modifications
--------------------------------------------------------------*/
/**
* Editor Page overwrites to prevent the bootstrap columns from collapsing early
* Stretch the outsides of the editor and make the second column narrow
*/
.folded #wpcontent, .folded #wpfooter {
  margin-left: 20px; }

#poststuff #post-body.columns-2 {
  margin-right: 208px; }

#post-body.columns-2 #postbox-container-1 {
  margin-right: -214px; }

#wpcontent, #wpfooter {
  margin-left: 142px; }

#post-body.columns-2 #postbox-container-1,
#poststuff #post-body.columns-2 #side-sortables {
  width: 210px; }

.postbox,
#post-body.columns-2 #side-sortables {
  min-width: 210px; }

.spinner {
  margin: 4px 4px 0; }

.gridblock-icon .wp-media-buttons-icon {
  background: url("../image/gridblock-icon.svg");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  transition-duration: 0.8s;
  transition-property: transform; }

.gridblock-icon:hover .wp-media-buttons-icon {
  transform: rotate(120deg); }

/*--------------------------------------------------------------
# Image Modules
--------------------------------------------------------------*/
.editor-panel .boldgrid-image,
#tinymce .boldgrid-image,
#page .boldgrid-image {
  border: none;
  box-shadow: none; }

.editor-panel .img-mod-1,
#tinymce .img-mod-1,
#page .img-mod-1 {
  border: 3px solid #fff;
  padding: 0;
  box-shadow: 0px 5px 5px 0px #555555; }

.editor-panel .img-mod-2,
#tinymce .img-mod-2,
#page .img-mod-2 {
  border-radius: 50%; }

.editor-panel .img-mod-3,
#tinymce .img-mod-3,
#page .img-mod-3 {
  border-radius: 50%;
  border: 0.25em solid #c3c3c3; }

.editor-panel .img-mod-4,
#tinymce .img-mod-4,
#page .img-mod-4 {
  border-radius: 10px; }

.editor-panel .img-mod-5,
#tinymce .img-mod-5,
#page .img-mod-5 {
  border-radius: 35px; }

.editor-panel .img-mod-6,
#tinymce .img-mod-6,
#page .img-mod-6 {
  border-radius: 50%;
  border: 8px solid white;
  box-shadow: 0px 0px 3px 0px #555555; }

.editor-panel .img-mod-7,
#tinymce .img-mod-7,
#page .img-mod-7 {
  box-shadow: .3em .3em 0 0 #8e8e8e; }

.editor-panel .img-mod-8,
#tinymce .img-mod-8,
#page .img-mod-8 {
  border: 8px solid white;
  box-shadow: 0px 0px 0px .3em #8e8e8e; }

.editor-panel .img-mod-9,
#tinymce .img-mod-9,
#page .img-mod-9 {
  border: .5em solid white;
  border-bottom-width: 2em;
  box-shadow: 0px 0.2em .2em 0px #555555; }

.editor-panel .img-mod-10,
#tinymce .img-mod-10,
#page .img-mod-10 {
  border: 6px solid white;
  box-shadow: 0px 0px 0px .2em #8e8e8e;
  border-radius: 15px; }

/*--------------------------------------------------------------
# Drag n Drop Resize
--------------------------------------------------------------*/
.draghandle {
  width: 20px;
  height: 20px;
  z-index: 99999;
  position: fixed;
  cursor: ns-resize;
  background-color: #32373c;
  border-radius: 6px;
  color: white;
  box-shadow: 0px 0px 9px -1px #32373c;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 20px;
  text-align: center;
  line-height: 21px; }

.draghandle:hover {
  color: #f95b26; }

.draghandle.top:before {
  content: "\f106"; }

.draghandle.bottom:before {
  content: "\f107"; }

.changing-padding-top ~ .draghandle.top,
.changing-padding-bottom ~ .draghandle.bottom {
  color: #f95b26; }

.changing-padding-top ~ .draghandle.bottom {
  display: none !important; }

.changing-padding-bottom ~ .draghandle.top {
  display: none !important; }

/*--------------------------------------------------------------
# Color Controls
--------------------------------------------------------------*/
.editor-panel .colors {
  margin-bottom: 0px; }

.editor-panel .colors li {
  height: 25px;
  width: 25px;
  display: inline-block;
  border: 1px solid #E1E1E1;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  padding: 0px; }

.editor-panel .colors li:hover {
  border-color: #32373c; }

.editor-panel .colors li.selected {
  border-color: #f95b26; }

/*--------------------------------------------------------------
# Color Controls
--------------------------------------------------------------*/
.mod-text-effect.inset-text {
  text-shadow: 1px 1px 0 rgba(140, 140, 140, 0.6), -1px -1px 1px rgba(0, 0, 0, 0.67); }

.mod-text-effect.anaglyph {
  letter-spacing: 3px;
  text-shadow: -3px 0 1px #1ef2f1, 3px 0 1px #f6050a; }

.mod-text-effect.neon {
  color: white;
  text-decoration: normal;
  text-align: center;
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de;
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1); }

.mod-text-effect.neon:hover {
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px #00ffff, 0 0 70px #00ffff, 0 0 80px #00ffff, 0 0 100px #00ffff; }

.mod-text-effect.simple-shadow {
  text-shadow: #969696 1px 3px 0, #aba8a8 1px 8px 5px; }

.mod-text-effect.neon-text {
  box-sizing: content-box;
  border: none;
  color: #407ec4;
  text-align: center;
  text-overflow: clip;
  text-shadow: 1px 1px 0 #4da2fc, -1px -1px 0 #4da2fc, 1px -1px 0 #4da2fc, -1px 1px 0 #4da2fc, 4px 4px 8px #2c5889, -4px 4px 8px #2c5889, 4px -4px 8px #2c5889, -4px -4px 8px #2c5889;
  transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1); }

.mod-text-effect.neon-text:hover {
  text-shadow: 1px 1px 0 #4da2fc, -1px -1px 0 #4da2fc, 1px -1px 0 #4da2fc, -1px 1px 0 #4da2fc;
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1); }

.mod-text-effect.enjoy-css {
  text-shadow: 0 1px 0 #808d93, -1px 0 0 #cdd2d5, -1px 2px 0 #808d93, -2px 1px 0 #cdd2d5, -2px 3px 0 #808d93, -3px 2px 0 #cdd2d5, -3px 4px 0 #808d93, -4px 3px 0 #cdd2d5, -4px 5px 0 #808d93; }

.mod-text-effect.long-shadow {
  text-shadow: 3px 3px 0 #0199d9, 4px 4px 0 #0199d9, 5px 5px 0 #0199d9, 6px 6px 0 #0199d9, 7px 7px 0 #0199d9, 8px 8px 0 #0199d9, 9px 9px 0 #0199d9, 10px 10px 0 #0199d9, 11px 11px 0 #0199d9, 12px 12px 0 #0199d9, 13px 13px 0 #0199d9, 14px 14px 0 #0199d9, 15px 15px 0 #0199d9, 16px 16px 0 #0199d9, 17px 17px 0 #0199d9, 18px 18px 0 #0199d9, 19px 19px 0 #0199d9, 20px 20px 0 #0199d9; }

.mod-text-effect.rainbow {
  color: transparent;
  text-shadow: 3px 0 0 #d91f26, 6px 0 0 #e25b0e, 9px 0 0 #f5dd08, 12px 0 0 #059444, 15px 0 0 #0287ce, 18px 0 0 #044d91, 21px 0 0 #2a1571;
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.mod-text-effect.rainbow:hover {
  text-shadow: -3px 0 0 #d91f26, -6px 0 0 #e25b0e, -9px 0 0 #f5dd08, -12px 0 0 #059444, -15px 0 0 #0287ce, -18px 0 0 #044d91, -21px 0 0 #2a1571;
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.mod-text-effect.board-game {
  text-shadow: 5px 5px 0 #ffd217, 10px 10px 0 #5ac7ff, 15px 14px 0 #ffd217, 20px 20px 0 #5ac7ff; }

.mod-text-effect.retro {
  text-shadow: 2px 2px 0 #eeeeee, 3px 3px 0 #707070; }

.mod-text-effect.elegantshadow {
  color: #131313;
  letter-spacing: .15em;
  text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #767474, -3px 6px 1px #787777, -4px 8px 1px #7b7a7a, -5px 10px 1px #7f7d7d, -6px 12px 1px #828181, -7px 14px 1px #868585, -8px 16px 1px #8b8a89, -9px 18px 1px #8f8e8d, -10px 20px 1px #949392; }

.mod-text-effect.deepshadow {
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9); }

.mod-text-effect.gradient {
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.mod-text-effect.shadows {
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15); }

.mod-text-effect.closeheavy {
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1); }

.mod-text-effect.glow {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.72); }

.mod-text-effect.stroke {
  text-shadow: -1px -1px 0 #bdbdbd, 1px -1px 0 #bdbdbd, -1px 1px 0 #bdbdbd, 1px 1px 0 #bdbdbd; }

/*--------------------------------------------------------------
# Color Controls
--------------------------------------------------------------*/
.box {
  padding: 1em; }

.box.square {
  border-radius: 0; }

.box.circle {
  border-radius: 50%;
  padding: 4em; }

.box.rounded {
  border-radius: 15px; }

.box.edged {
  border-radius: 5px; }

.box.rounded-top-left {
  border-top-left-radius: 15px; }

.box.rounded-top-right {
  border-top-right-radius: 15px; }

.box.rounded-bottom-right {
  border-bottom-right-radius: 15px; }

.box.rounded-bottom-left {
  border-bottom-left-radius: 15px; }

.box.pointer {
  position: relative; }

.box.pointer:after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50px;
  border-width: 15px 15px 0;
  border-style: solid;
  border-color: #f3961c transparent;
  display: block;
  width: 0; }

.box.pointer.pointer-left:after {
  top: calc(50% - 16px);
  left: -20px;
  bottom: auto;
  border-width: 12px 20px 13px 0px;
  border-color: transparent #f3961c; }

.box.pointer.pointer-right:after {
  top: calc(50% - 16px);
  right: -20px;
  bottom: auto;
  left: auto;
  border-width: 12px 0 13px 20px;
  border-color: transparent #f3961c; }

.box.pointer.pointer-bottom:after {
  left: calc(50% - 16px); }

.box.pointer.pointer-top:after {
  top: -15px;
  bottom: auto;
  border-width: 0 15px 15px;
  left: calc(50% - 16px); }

.box.shadow-bottom-right {
  box-shadow: 3px 3px 0px 0 grey; }

.box.shadow-bottom-left {
  box-shadow: -3px 3px 0px 0 grey; }

.box.border-thin {
  border: 1px solid; }

.box.border-normal {
  border: 2px solid; }

.box.border-thick {
  border: 4px solid; }

.box.border-dashed {
  border: 2px dashed; }

.box.border-dashed-thick {
  border: 4px dashed; }

.box.border-double {
  border: 2px solid;
  box-shadow: 0px 0px 0px 2px white inset, 0px 0px 0px 4px black inset; }

.box.border-double-thick {
  border: 4px solid;
  box-shadow: 0px 0px 0px 5px white inset, 0px 0px 0px 7px black inset; }
