<div class="row">
	<div class="col-md-6 col-margin-bottom">
		<h2>Vel consequat urna</h2>
		<p>Senectus commodo vel cursus habitasse tempor semper eget, feugiat proin
			enim quis enim convallis euismod nullam, congue dolor integer cras fringilla
			mattis eu per tincidunt vulputate urna amet sagittis netus odio
			pharetra.Senectus commodo vel cursus habitasse tempor semper eget, feugiat
			proin enim quis enim convallis euismod nullam, congue dolor integer cras
			fringilla mattis eu per.</p>

		<p>Condimentum enim aliquam ut tortor magna semper iaculis, conubia
			venenatis aliquam sit eget class volutpat pretium, dictumst ornare sodales
			egestas massa curabitur. commodo elementum massa.</p>
	</div>
</div>