.row,
[class*="col-xs"],
[class*="col-sm"],
[class*="col-md"],
[class*="col-lg"], 
p,
img,
h1,
h2,
ol,
ul,
dl,
form,
table,
h3,
h4,
h5,
h6,
[data-imhwpb-draggable="true"],
.wpview-wrap { 
  transition: outline .5s;
  outline: 1px dashed rgba(0,0,0,0) !important;
}

hr {
	margin-top:5px;
	margin-bottom:5px;
}

