<div class='boldgrid-section'>
<div class='container'>
<div class="row gridblock">
	<div class="col-md-4">
    	<div class="mod-blockquote">
        	<p>"This demonstrates what text will look like if treated with a blockquote."</p>
    	</div>
    	<div class="row">
        	<div class="col-md-12">
            	<hr />
        	</div>
    	</div>
    	<p class="mod-space"></p>
    	<h4>BUILT WITH BOLDGRID</h4>
    	<ul>
        	<li>First and foremost, at the top</li>
        	<li>Secondly, another item</li>
        	<li>Thirdly, a concise point</li>
        	<li>Fourth, a bit more description</li>
    	</ul>
    	<p>
        	<a class="link-primary" href="#">Primary Link</a> | <a class="link-secondary" href="#">Secondary Link</a>
    	</p>
	</div>
	<div class="col-md-1">
    	<p class="mod-img-circle">
        	<img src="" alt="woman" data-boldgrid-asset-id="82979" width="166" height="166" class="alignnone size-full" />
    	</p>
	</div>
	<div class="col-md-7">
    	<p>
        	<img src="" alt="mountains" data-boldgrid-asset-id="82987" width="652" height="246" class="alignnone size-full" />
    	</p>
    	<h2>SUPER SWEET HEADING</h2>
    	<div class="row">
        	<div class="col-md-12">
            	<hr />
        	</div>
    	</div>
    	<h4>A SUBHEADING</h4>
    	<p>GridBlocks provide you with everything you need to build a larger page. They contain a variety of content elements, such as images, buttons, headings, and more. These elements are arranged in rows and columns, which provide a useful structure, as well as a sense of balance within the overall composition. You can modify this structure using our intuitive drag and drop interface, which allows you to rearrange content to your heart's content.</p>
    	<p class="mod-space"></p>
    	<p class="p-button-primary">
        	<a class="button-primary" href="#">Primary Button</a> <a class="button-secondary" href="#">Secondary Button</a>
    	</p>
	</div>    
</div>
</div>
</div>
