<div class='boldgrid-section'>
<div class='container'>
<div class="row gridblock">
	<div class="col-md-3">
    	<p class="mod-img">
        	<img src="" alt="sliders" data-boldgrid-asset-id="82983" width="262" height="195" class="alignnone size-full" />
    	</p>
    	<p class="mod-space"></p>
    	<h5>UNORDERED LIST</h5>
    	<ul>
        	<li>First and foremost, at the top</li>
        	<li>Secondly, another item</li>
        	<li>Thirdly, a concise point</li>
        	<li>Fourth, a bit more description</li>
    	</ul>
    	<p>
        	<a class="link-primary" href="#">Primary Link</a> | <a class="link-secondary" href="#">Secondary Link</a>
    	</p>
	</div>
	<div class="col-md-4">
    	<h2>Main Heading</h2>
    	<h3>SUBHEADING LEVEL 3</h3>
    	<p>Certain elements will be centered on mobile devices and tablets and aligned to the left or right on a desktop display. You can adjust the layout for each GridBlock at three different device widths - desktop, tablet, and mobile.</p>
    	<div class="row">
        	<div class="col-md-12">
            	<hr />
        	</div>
    	</div>
    	<ol>
        	<li>The first item in this list has a considerable amount of text, indicating that it is first in both sequence and substance.</li>
        	<li>The second item is lesser in length, though possibly more dense in meaning.</li>
    	</ol>
    	<p class="mod-space"></p>
    	<p class="p-button-primary">
        	<a class="button-primary" href="#">Primary Button</a>
    	</p>
	</div>
	<div class="col-md-1">
    	<p></p>
	</div>
	<div class="col-md-4">
    	<div class="row">
        	<div class="col-md-3">
            	<p></p>
        	</div>
        	<div class="col-md-9">
            	<p><strong>SOME BOLDED TEXT</strong></p>
            	<div class="row">
                	<div class="col-md-12">
                    	<hr />
                	</div>
            	</div>
        	</div>
    	</div>
    	<div class="row">
        	<div class="col-md-3">
            	<p class="mod-img-circle">
                	<img src="" alt="cookies" data-boldgrid-asset-id="82984" width="166" height="166" class="alignnone size-full" />
            	</p>
        	</div>
        	<div class="col-md-9">
            	<h4>Heading Level 4</h4>
            	<p>Certain elements will be centered on mobile devices and tablets and aligned to the left or right on a desktop display.</p>
        	</div>
    	</div>
    	<div class="row">
        	<div class="col-md-3">
            	<p class="mod-img-circle">
                	<img src="" alt="pizza" data-boldgrid-asset-id="82985" width="166" height="166" class="alignnone size-full" />
            	</p>
        	</div>
        	<div class="col-md-9">
            	<h4>Heading Level 4</h4>
            	<p>You can adjust the layout for each GridBlock at three different device widths - desktop, tablet, and mobile.</p>
        	</div>
    	</div>
    	<div class="row">
        	<div class="col-md-3">
            	<p></p>
        	</div>
        	<div class="col-md-9">
            	<p class="p-button-secondary">
                	<a class="button-secondary" href="#">Secondary Button</a>
            	</p>
        	</div>
    	</div>
	</div>
</div>
</div>
</div>