<div class='boldgrid-section'>
<div class='container'>
<div class="row gridblock">
	<div class="col-md-3">
    	<p class="mod-img">
        	<img src="" alt="boat-in-water" data-boldgrid-asset-id="82982" width="261" height="409" class="alignnone size-full" />
    	</p>
	</div>
	<div class="col-md-1">
    	<p class="mod-img-circle">
        	<img src="" alt="boy" data-boldgrid-asset-id="82980" width="166" height="166" class="alignnone size-full" />
    	</p>
	</div>
	<div class="col-md-4">
    	<h4>SUBHEADING</h4>
    	<h2>A Larger Heading</h2>
    	<p>GridBlocks provide you with everything you need to build a larger page. They contain a variety of content elements, such as images, buttons, headings, and more. These elements are arranged in rows and columns, which provide a useful structure, as well as a sense of balance within the overall composition.</p>
    	<p>You can modify this structure using our intuitive drag and drop interface, which allows you to rearrange content to your heart's content.</p>
    	<p class="mod-space"></p>
    	<ul>
        	<li>First and foremost, at the top</li>
        	<li>Secondly, another item</li>
        	<li>Thirdly, a concise point</li>
        	<li>Fourth, a bit more description</li>
        	<li>Fifth, an item added for emphasis</li>
        	<li>Finally, we've reached the end of the list</li>
    	</ul>
    	<p class="mod-space"></p>
    	<p class="p-button-primary">
        	<a class="button-primary" href="#">Primary Button</a>
    	</p>
    	<p class="p-button-secondary">
        	<a class="button-secondary" href="#">Secondary Button</a>
    	</p>
	</div>
	<div class="col-md-4">
    	<div class="mod-blockquote">
        	<p>"A blockquote highlights important information, which may or may not be an actual quote."</p>
    	</div>
	</div>
</div>
</div>
</div>
