<div class='boldgrid-section'>
<div class='container'>
<div class="row gridblock">
	<div class="col-md-3">
    	<p class="mod-img">
        	<img src="" alt="bridge" data-boldgrid-asset-id="82994" width="846" height="267" class="alignnone size-full" />
    	</p>
    	<h5>A Heading</h5>
    	<p>GridBlocks provide you with everything you need to build a larger page. They contain a variety of content elements, such as images, buttons, headings, and more.</p>
    	<p>
        	<a class="link-primary" href="#">Primary Link</a>
    	</p>
    	<div class="row">
        	<div class="col-md-12">
            	<hr />
        	</div>
    	</div>
    	<p class="mod-img">
        	<img src="" alt="temple" data-boldgrid-asset-id="82996" width="846" height="267" class="alignnone size-full" />
    	</p>
    	<h5>Another Heading</h5>
    	<p>Certain elements will be centered on mobile devices and tablets and aligned to the left or right on a desktop display.</p>
    	<p>
        	<a class="link-primary" href="#">Primary Link</a>
    	</p>
    	<div class="row">
        	<div class="col-md-12">
            	<hr />
        	</div>
    	</div>
    	<p class="mod-img">
        	<img src="" alt="bridge-2" data-boldgrid-asset-id="82995" width="846" height="267" class="alignnone size-full" />
    	</p>
    	<h5>Yet Another Heading</h5>
    	<p>You can adjust the layout for each GridBlock at three different device widths - desktop, tablet, and mobile.</p>
    	<p>
        	<a class="link-primary" href="#">Primary Link</a>
    	</p>
    	<div class="row">
        	<div class="col-md-12">
            	<hr />
        	</div>
    	</div>
	</div>

	<div class="col-md-9">
    	<p class="mod-img">
        	<img src="" alt="canal" data-boldgrid-asset-id="82997" width="846" height="196" class="alignnone size-full" />
    	</p>
    	<div class="row mod-space"></div>
    	<div class="row">
        	<div class="col-md-8">
            	<div class="row">
                	<div class="col-md-2">
                    	<p class="mod-img-circle">
                        	<img src="" alt="standing" data-boldgrid-asset-id="82998" width="166" height="166" class="alignnone size-full" />
                    	</p>
                	</div>
                	<div class="col-md-10">
                    	<h3>Title</h3>
                    	<h2>Formal Name</h2>
                	</div>
                	<p class="mod-space"></p>
            	</div>
            	<h4>HEADING LEVEL 4</h4>
            	<p>GridBlocks provide you with everything you need to build a larger page. They contain a variety of content elements, such as images, buttons, headings, and more. These elements are arranged in rows and columns, which provide a useful structure, as well as a sense of balance within the overall composition. You can modify this structure using our intuitive drag and drop interface, which allows you to rearrange content to your heart's content.</p>
            	<p class="mod-space"></p>
            	<div class="mod-blockquote">
                	<p>"A blockquote highlights important information, which may or may not be an actual quote. It uses distinct styling to set it apart from other content on the page."</p>
            	</div>
            	<div class="row mod-space"></div>
            	<p class="p-button-primary">
                	<a class="button-primary" href="#">Primary Button</a> <a class="button-secondary" href="#">Secondary Button</a>
            	</p>
        	</div>
        	<div class="col-md-4">
            	<ul>
                	<li>First and foremost, at the top</li>
                	<li>Secondly, another item</li>
                	<li>Thirdly, a concise point</li>
                	<li>Fourth, a bit more description</li>
            	</ul>
            	<p>
                	<a class="link-primary" href="#">Primary Link</a> | <a class="link-secondary" href="#">Secondary Link</a>
            	</p>
        	</div>
    	</div>
	</div>
</div>
</div>
</div>
