<div class='boldgrid-section'>
<div class='container'>
<div class="row gridblock">
	<div class="col-md-8">
    	<p class="mod-img">
        	<img src="" alt="shirt" data-boldgrid-asset-id="82999" width="750" height="522" class="alignnone size-full" />
    	</p>
    	<div class="row">
        	<div class="col-md-6">
            	<h3>A HEADING</h3>
        	</div>
        	<div class="col-md-6">
            	<p class="alignright">
                	<a class="link-primary" href="#">Primary Link</a> | <a class="link-secondary" href="#">Secondary Link</a>
            	</p>
        	</div>
    	</div>
    	<ul>
        	<li>First and foremost, at the top</li>
        	<li>Secondly, another item</li>
        	<li>Thirdly, a concise point</li>
        	<li>Fourth, a bit more description</li>
    	</ul>
	</div>
	<div class="col-md-4">
    	<p class="mod-img-circle">
        	<img src="" alt="girl" data-boldgrid-asset-id="83000" width="166" height="166" class="aligncenter size-full" />
    	</p>
    	<h2 class="text-center">A LARGER HEADING</h2>
    	<div class="row">
        	<div class="col-md-12">
            	<hr />
        	</div>
    	</div>
    	<p class="text-center">GridBlocks provide you with everything you need to build a larger page. They contain a variety of content elements, such as images, buttons, headings, and more.</p>
    	<p class="mod-space"></p>
    	<div class="mod-blockquote">
        	<p>"This demonstrates what text will look like if treated with a blockquote."</p>
    	</div>
    	<p class="mod-space"></p>
    	<p class="p-button-primary text-center">
        	<a class="button-primary" href="#">Primary Button</a>
    	</p>
    	<p class="p-button-secondary text-center">
        	<a class="button-secondary" href="#">Secondary Button</a>
    	</p>
	</div>
</div>
</div>
</div>


