.hidden {
    display: none !important;
}

.dragging-imhwpb {
    -webkit-box-shadow: 0 0 15px 5px rgba(180, 60, 56, .7);
     -moz-box-shadow: 0 0 15px 5px rgba(180, 60, 56, .7);
    box-shadow: 0 0 15px 5px rgba(180, 60, 56, .7);
    pointer-events: none;
    transition: all !important;
} 

.draggable-button {
	border-radius: 3px;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 0;
    padding: 1px 5px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    color:  #FFFFFF;
    
    -khtml-user-select: none ;
   -moz-user-select: none ;
   -webkit-user-select: none;
   -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.draggable-button:active, .draggable-button.active {
    background-image: none;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
    outline: 0 none;
}

.draggable-button:hover,
.draggable-button:focus,
.draggable-button.focus,
.draggable-button:active,
.draggable-button.active {
    background-color: #23282d;
    border-color: #23282d;
}

.row, 
[class*="col-xs"],
[class*="col-sm"],
[class*="col-md"],
[class*="col-lg"]{
    min-height: 30px;
}
.row .row, 
.row .row [class*="col-xs"],
.row .row [class*="col-sm"],
.row .row [class*="col-md"],
.row .row [class*="col-lg"]{
    min-height: 15px;
}

.drag-progress .row .row, 
.drag-progress .row .row [class*="col-xs"], 
.drag-progress .row .row [class*="col-sm"], 
.drag-progress .row .row [class*="col-md"], 
.drag-progress .row .row [class*="col-lg"], 
.drag-progress .editing-as-row .row, 
.drag-progress .editing-as-row [class*="col-xs"],
.drag-progress .editing-as-row [class*="col-sm"],
.drag-progress .editing-as-row [class*="col-md"],
.drag-progress .editing-as-row [class*="col-lg"] {
	min-height: 15px;
	overflow: visible;
}

.resizing-imhwpb {
    cursor: ew-resize !important;
}

.row.dragging-imhwpb {
    -webkit-box-shadow: 0 0 15px 5px rgba(204, 175, 11, 1);
     -moz-box-shadow: 0 0 15px 5px rgba(204, 175, 11, 1);
    box-shadow: 0 0 15px 5px rgba(204, 175, 11, 1);
}
.row .row.dragging-imhwpb   {
    -webkit-box-shadow: 0 0 15px 5px #d54e21;
     -moz-box-shadow: 0 0 15px 5px #d54e21;
    box-shadow: 0 0 15px 5px #d54e21;
}

/**
* When dragging columns set box shadow
*/
[class*="col-xs"].dragging-imhwpb,
[class*="col-sm"].dragging-imhwpb,
[class*="col-md"].dragging-imhwpb,
[class*="col-lg"].dragging-imhwpb {
    -webkit-box-shadow: 0 0 15px 5px rgba(33, 117, 155, 1);
    -moz-box-shadow: 0 0 15px 5px rgba(33, 117, 155, 1);
    box-shadow: 0 0 15px 5px rgba(33, 117, 155, 1);
}

.added-element,
.content-border-imhwpb,
.resize-border-right-imhwpb,
.resize-border-left-imhwpb,
.draggable-tools-imhwpb + *:not(button) {
    border:1px dashed gray !important;
}

.editing-as-row .current-edit-as-row .receptor-containers-imhwpb,
.receptor-containers-imhwpb {
    border:1px dashed gray;
}

.editing-as-row .receptor-containers-imhwpb {
	border-color: transparent;
}

.cursor-not-allowed-imhwpb {
    cursor:not-allowed !important;
}

.col-center {
    text-align: center;
}

.top-buffer { 
    margin-top:20px; 
}

.resize-border-right-imhwpb {
    -webkit-box-shadow: 4px 0px 0px 0px rgba(230,5,35,1);
    -moz-box-shadow: 4px 0px 0px 0px rgba(230,5,35,1);
    box-shadow: 4px 0px 0px 0px rgba(230,5,35,1);
}
.resize-border-left-imhwpb {
    -webkit-box-shadow: -4px 0px 0px 0px rgba(230,5,35,1);
    -moz-box-shadow: -4px 0px 0px 0px rgba(230,5,35,1);
    box-shadow: -4px 0px 0px 0px rgba(230,5,35,1);
}


.dragging-imhwpb.dragging-started-imhwpb {
    position : absolute !important;
    z-index: 100000;
}

.cloned-div-imhwpb {
    opacity: 0.8;
    -webkit-box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.70);
     -moz-box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.70);
    box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.70);
    overflow-y: hidden;
}

.temporary-image-div {
    position: absolute;
    top: 0px;
    left: -9999px;
}

.content-border-imhwpb,
.resize-border-right-imhwpb,
.resize-border-left-imhwpb,
.draggable-tools-imhwpb,
.no-select-imhwpb {
   -khtml-user-select: none !important;
   -moz-user-select: none !important;
   -webkit-user-select: none !important;
   -o-user-select: none !important;
    -ms-user-select: none  !important;
    user-select: none !important;
}

.draggable-tools-imhwpb {
    position: fixed;
    z-index: 99999;
    cursor: auto;
}

.mce-content-body .drag-handle-imhwpb[contentEditable=false],
.drag-handle-imhwpb {
    cursor: move !important;
}

.popover-imhwpb {
  top: -36px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 12px;
  padding: 5px 6px;
  position: absolute;
  width: 75px;
}

.popover-imhwpb,
.popover-imhwpb li {
    font-family: "Open Sans",sans-serif;
}

.popover-imhwpb:after {
    content: ' ';
    background-color: transparent;
    position: absolute;
    z-index:-1;
}

.left-popover-imhwpb:after {
    top: -10px;
    bottom: -10px;
    left: -6px;
    right: -6px;
} 
.top-popover-imhwpb:after {
    top: -7px;
    bottom: -7px;
    left: -20px;
    right: -20px;
} 

.right-popover-imhwpb:after {
    left: -6px;
    right: -6px;
    top: -20px;
    bottom: -20px;
}

.popover-imhwpb:before {
  border-top: 7px solid;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  content: '';
  display: block;
  position: absolute;
}

.right-popover-imhwpb:before{
    left: -10px;
    top: 50%;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}
.left-popover-imhwpb:before{
    right: -10px;
    top: 50%;
    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
}

.left-popover-imhwpb, .right-popover-imhwpb {
    width: 40px;
    top: 0px;
}

.right-popover-imhwpb {
	top: -22px;
}

.left-popover-imhwpb {
    left: -26px;
}

.left-popover-imhwpb div.draggable-button, .right-popover-imhwpb div.draggable-button {
    margin-top: 3px;
    margin-bottom: 3px;
}

.right-popover-imhwpb {
    right: -50px;
}

.top-popover-imhwpb:before{
    bottom: -6px;
    right: 39%;
}

.top-popover-imhwpb {
    left: 20px;
     top: -31px;
}

.top-popover-imhwpb div.draggable-button {
    margin-left: 3px;
    margin-right: 3px;
}

.row-popover-imhwpb {
    background-color: rgb(255, 187, 25);
}
.row-popover-imhwpb:before {
    border-top-color: rgb(255, 187, 25);
}

.column-popover-imhwpb {
    background-color: rgb(33, 117, 155);
}
.column-popover-imhwpb:before {
    border-top-color: rgb(33, 117, 155);
}
.content-popover-imhwpb {
    background-color: rgb(213, 78, 33);
}
.content-popover-imhwpb:before {
    border-top-color:rgb(213, 78, 33);
}

.current-edit-as-row .top-popover-imhwpb {
	left: 0;
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}
.row:before, .row:after {
    width: 0;
}

/*************************/

#boldgrid-draggable-resizing-overlay {
	position:fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;	
	z-index:99999999;
	cursor: ew-resize;
	display: none;
}
.no-select-imhwpb + #boldgrid-draggable-resizing-overlay {
	display: block;
	background-color: none;
}

.popover-menu-imhwpb [data-action="nest-row"]:hover {
	cursor: move !important;
}
.popover-menu-imhwpb [data-action="nest-row"]:after {
	content: 'Drag As Content';
}

.editing-as-row  .row-popover-imhwpb .drag-handle-imhwpb,
.editing-as-row  [data-action="insert-layout"],
.editing-as-row [data-action="Add Form"],
.editing-as-row  [data-action="add-media"],
.editing-as-row  [data-action="nest-row"]{
	display: none;
}

.dragging-disabled .popover-imhwpb {
	width: auto;
}
.dragging-disabled .drag-handle-imhwpb,
.dragging-disabled [data-action="nest-row"] {
	display: none;
}

/* The styles for the menu that is displayed when you click on the menu */
.popover-menu-imhwpb {
    padding: 0;
    margin: 0;
    border: 0;
    display: inline;
}
.popover-menu-imhwpb li {
	position: relative;
	padding-left: 20px;
}

.popover-menu-imhwpb li:before {
	content: '';
}

.popover-menu-imhwpb li::before {
	display: block;
	position: absolute;
    content: " ";
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 28px;
    background-color: #23282d;
    background-repeat: no-repeat;
    background-position: 6px 5px;
}

.popover-menu-imhwpb li[data-action="delete"]::before {
	background-image: url("../../image/icons/delete.png");
}
.popover-menu-imhwpb li[data-action="clear"]::before {
	background-image: url("../../image/icons/clear-contents.png");
}
.popover-menu-imhwpb li[data-action="add-media"]::before {
	font: 400 18px/1 dashicons;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f104";
    color: #737373;
	padding-left: 2px;
    padding-top: 2px;
}
.popover-menu-imhwpb li[data-action="Insert Form"]::before {
	background-image: url("../../image/icons/insert-form.png");
}
.popover-menu-imhwpb li[data-action="duplicate"]::before {
	background-image: url("../../image/icons/clone.png");
}
.popover-menu-imhwpb li[data-action="insert-layout"]::before {
	background-image: url("../../image/icons/insert-gridblock.png");
}
.popover-menu-imhwpb li[data-action="add-column"]::before {
	background-image: url("../../image/icons/add-column.png");
}
.popover-menu-imhwpb li[data-action="add-row"]::before {
	background-image: url("../../image/icons/add-row.png");
}
.popover-menu-imhwpb li[data-action="nest-row"]::before {
	background-image: url("../../image/icons/drag-as-content.png");
}

.popover-menu-imhwpb li[data-action="delete"]:hover::before {
	background-image: url("../../image/icons/delete-hover.png");
}
.popover-menu-imhwpb li[data-action="clear"]:hover::before {
	background-image: url("../../image/icons/clear-contents-hover.png");
}
.popover-menu-imhwpb li[data-action="add-media"]:hover::before {
    color: white;
}
.popover-menu-imhwpb li[data-action="Insert Form"]:hover::before {
	background-image: url("../../image/icons/insert-form-hover.png");
}
.popover-menu-imhwpb li[data-action="duplicate"]:hover::before {
	background-image: url("../../image/icons/clone-hover.png");
}
.popover-menu-imhwpb li[data-action="insert-layout"]:hover::before {
	background-image: url("../../image/icons/insert-gridblock-hover.png");
}
.popover-menu-imhwpb li[data-action="add-column"]:hover::before {
	background-image: url("../../image/icons/add-column-hover.png");
}
.popover-menu-imhwpb li[data-action="add-row"]:hover::before {
	background-image: url("../../image/icons/add-row-hover.png");
}
.popover-menu-imhwpb li[data-action="nest-row"]:hover::before {
	background-image: url("../../image/icons/drag-as-content-hover.png");
}

.popover-menu-imhwpb li[data-action="clone-as-row"]::before {
	background-image: url("../../image/icons/clone-as-row.png");
}
.popover-menu-imhwpb li[data-action="clone-as-row"]:hover::before {
	background-image: url("../../image/icons/clone-as-row-hover.png");
}

.popover-menu-imhwpb li:first-child {
	padding-top: 8px;
	padding-bottom: 8px;
}

.popover-menu-imhwpb li:first-child::before {
	background-image: none;
}

.popover-menu-imhwpb ul li:hover:not(:first-child) {
    background-color: #23282d;
    cursor: pointer;
    color: white;
 }
 
 .popover-menu-imhwpb li:first-of-type {
 	text-align:center;
 }
 
.popover-menu-imhwpb li:first-of-type::before {
	content: "";
}

.popover-menu-imhwpb:not(.hidden) + .context-menu-imhwpb {
	background-color: #23282d;
}

.drag-progress .draggable-tools-imhwpb  {
    opacity: .01;	
}


.draggable-tools-imhwpb li[data-action] {
	font-weight: 600;
}

.draggable-tools-imhwpb li:before {
	border:none !important;
}

.popover-menu-imhwpb ul {
    border: 1px solid #dddddd;
    list-style: none;
    margin: 0;
    padding: 0;
}

.popover-menu-imhwpb ul {
    position: absolute;
    z-index: 9999;
}

.popover-menu-imhwpb ul li:first-child {
    background-color: #23282d;
    color: white;
}

.popover-menu-imhwpb ul li {
    min-height: 1px;
    line-height: 1em;
    text-align: left;
    font-size: 12px !important;
    margin: 0 !important;
    white-space: nowrap;
}

.popover-menu-imhwpb ul li:hover {
    position: relative;
    cursor: default;
}

.fourpan-overlays {
	cursor: default;
}

.popover-menu-imhwpb ul {
    width: 160px;
    background: #FFFFFF;
    border: 2px solid #23282d;
    border-radius: 5px;
}

.popover-menu-imhwpb ul li {
    padding: 8px 37px;
    color: #23282d;
}

.popover-menu-imhwpb ul li.hover-imhwpb,
.left-popover-imhwpb .popover-menu-imhwpb  ul {
    top: 35%;
    left: 30px;
}

.right-popover-imhwpb .popover-menu-imhwpb  ul {
    top: 35%;
    right: 30px;
}
.top-popover-imhwpb .popover-menu-imhwpb  ul {
    margin-top: -3px;
    left:30px;
}

/***********************/


/*** Wordpress Styles **/

.draggable-tools-imhwpb .genericon {
    width: auto;
    font-size: 17px;
}

html {
	padding:30px 45px 30px 45px;
}

html .mceContentBody  {
    max-width:100% !important;
    margin: 0 auto;
}

* {
    word-wrap: break-word;
}

body {
    padding: 0;
    margin: 0;
}

.left-popover-imhwpb div.draggable-button, .right-popover-imhwpb div.draggable-button {
    margin-bottom: 1px;
    margin-top: 2px;
    margin-left:1px;
}

.left-popover-imhwpb, .right-popover-imhwpb {
    width: 35px;
}

.popover-imhwpb {
    padding: 5px 2px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.draggable-tools-imhwpb .genericon, .draggable-tools-imhwpb .genericon-before::before {
    height: 17px;
}

.right-popover-imhwpb {
    right: -45px;
}

.left-popover-imhwpb {
     left: -23px;
}

button {
	cursor: text;
}

html.selecting .draggable-tools-imhwpb {
	display: none;
}

p.no-margin {
	margin: 0 !important;
	padding: 0 !important;
}

.mce-content-body .panel-collapse.collapse {
    display: block;
    visibility: visible;
}

#tinymce.mce-content-body {
	height: auto;
}

/*********************/
/*!
 * Bootstrap v3.3.5 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

/*!
 * Generated using the Bootstrap Customizer (http://getbootstrap.com/customize/?id=f6c122032f7018ba5e75)
 * Config saved to config.json and https://gist.github.com/f6c122032f7018ba5e75
 */
/*!
 * Bootstrap v3.3.5 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

.container {
	width:auto;
}


@media (min-width: 838px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 1062px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1270px) {
  .container {
    width: 1170px;
  }
}

.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}

@media (min-width: 838px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1062px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1270px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
@media (max-width: 837px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table !important;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 837px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 837px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 837px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 838px) and (max-width: 1061px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table !important;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 838px) and (max-width: 1061px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 838px) and (max-width: 1061px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 838px) and (max-width: 1061px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1062px) and (max-width: 1269px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table !important;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 1062px) and (max-width: 1269px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 1062px) and (max-width: 1269px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 1062px) and (max-width: 1269px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1270px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table !important;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1270px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1270px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1270px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 837px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 838px) and (max-width: 1061px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 1062px) and (max-width: 1269px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1270px) {
  .hidden-lg {
    display: none !important;
  }
}