.template-control {
  text-align: center;
  display: flex;
  flex-wrap: wrap; }

.template-control .radio {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  width: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 0px;
  border-radius: 5px; }

.template-control .radio.checked {
  background: #e0e0e0; }

.template-control .label {
  margin-bottom: 5px; }

.template-control input[type="radio"] {
  height: 75px;
  margin: 0 auto;
  width: auto;
  box-shadow: none;
  border: none;
  background: none;
  /*
		&:checked:before {
			display: none;
		}*/ }

.template-control .template:after {
  content: '';
  width: 75px;
  height: 75px;
  display: block;
  background: url(../../assets/image/page-templates/sidebar.svg);
  background-repeat: no-repeat;
  background-size: cover; }

.template-control .sidebar.left:after {
  transform: rotate(180deg);
  transform-origin: 50% 50%; }

.template-control .sidebar.none:after {
  background-image: url(../../assets/image/page-templates/fullwidth.svg); }

.template-control .template.default:after {
  background-image: url(../../assets/image/page-templates/default.svg); }
