<div class="save-gridblock">
	<div class="save-prompt save-state">
		<h2>Save GridBlock to Your Library</h2>
		<h4>Any designs you save can be reused on any page or website.</h4>
		<form>
			<input required type="text" placeholder="Enter title here">
			<button class="bg-editor-button bg-primary-color btn btn-rounded save">Save</button>
		</form>
	</div>
	<div class="save-failed save-state">
		<h2>Oops! An error occured.</h2>
		<h4>We were unable to add the GridBlock to you library. Please try again later.</h4>
		<button class="bg-editor-button bg-primary-color btn btn-rounded dismiss">Okay, Got it!</button>
	</div>
	<div class="save-success save-state" >
		<h2>GridBlock Saved!</h2>
		<h4>Your GridBlock can be found <a href="#">here</a>, and will now be available in "My GridBlocks"
			within the Add GridBlocks interface.</h4>
		<button class="bg-editor-button bg-primary-color btn btn-rounded dismiss">Okay, Got it!</button>
	</div>
</div>
