<div class="setup">
	<div data-step="welcome" class="step active">
		<h2>Welcome to the Page &amp; Post Editor</h2>
		<p>
			In order to optimize your experience, let's setup your plugin with some preferences. If you choose to skip
			the setup we'll set default options that you can easily modify later.
		</p>
		<p class="buttons">
			<a class='btn btn-rounded bg-secondary-color dismiss'>Skip Setup</a>
			<a class='btn btn-rounded bg-primary-color' data-action-step="choose-template">Okay, Let's Go!</a>
		</p>
	</div>
	<div data-step="choose-template" data-panel-info="Step 1/3" class="step choose-template"  data-panel-width="395" data-panel-height="510" data-panel-title="BoldGrid Editor - Templates">
		<h3>Choose your default template:</h3>
		<p>The BoldGrid Editor includes 3 custom page templates provide more layout control.
			Choose your default page template to use on new pages.</p>
		<div class="bg-editor-radio">
			<input type="radio" name="template" checked value="fullwidth" text="Full Width (Recommended)">
			<input type="radio" name="template" value="left-sidebar" text="Left Sidebar">
			<input type="radio" name="template" value="right-sidebar" text="Right Sidebar">
			<input type="radio" name="template" value="default" text="Default Theme Template">
		</div>
		<p class="buttons">
			<a class='btn btn-rounded bg-primary-color' data-action-step="choose-color-palette">Next Step</a>
		</p>
	</div>
	<div data-step="choose-color-palette" data-panel-info="Step 2/3" data-panel-width="400" data-panel-height="650" class="step" data-panel-title="BoldGrid Editor - Colors">
		<div class="choose-palette"></div>
		<p class="buttons">
			<a class='btn btn-rounded bg-primary-color' disabled="disabled" data-action-step="done">Next Step</a>
		</p>
	</div>
	<div data-step="done" class="step" data-panel-info="Step 3/3" data-panel-title="BoldGrid Editor - Help">
		<h3>Your done!</h3>
		<p>Have heres some useful inforomation</p>
		<p class="buttons">
			<a class='btn btn-rounded bg-primary-color dismiss'>Okay, Got It!</a>
		</p>
	</div>
</div>
